@use '../../style/extends.scss';
.calculator {
  display: flex;
  flex-direction: column;
  width: 240px;
  &__row-1 {
    cursor: grab;
    @extend %rows;
    height: 60px;
    background: #f8f8f8;
    border: 3px white solid;
    justify-content: right;
  }

  &__row-2 {
    cursor: grab;
    height: 56px;
    @extend %rows;
    justify-content: space-between;
  }

  &__operation-button {
    @extend %button;
    cursor: pointer;
    padding: 13px 21px;
    &:hover {
      border: 1px rgb(167, 167, 167) solid;
    }
  }

  &__row-3 {
    cursor: grab;
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    border-radius: 5px;
    padding: 5px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 8px;
    margin-bottom: 16px;
  }

  &__digit-button {
    @extend %button;
    cursor: pointer;
    padding: 14px 21px;
    &:hover {
      border: 1px rgb(167, 167, 167) solid;
    }
  }

  &__row-4 {
    cursor: grab;
    height: 72px;
    @extend %rows;
  }

  &__evaluate {
    width: 100%;
    height: 100%;
    border: none;
    background: rgb(255, 255, 255);
    border: 1px rgb(224, 224, 224) solid;
    font-size: 20px;
    border-radius: 5px;
    transition: all 0.1s linear;
    &:hover {
      background: rgb(230, 230, 230);
    }
  }
  &__output {
    overflow: hidden;
    height: 100%;
    width: 100%;
  }
  &__previous-operand {
    color: rgba(87, 87, 87, 0.75);
    font-size: 15px;
    margin-bottom: 5px;
    text-align: right;
    height: 14px;
  }
  &__current-operand {
    font-size: 25px;
    font-weight: 600;
    text-align: right;
    height: 30px;
    &.operand--small {
      font-size: 16px;
    }
  }
}

.drop-over {
  transform: translateY(50px);
}

.disable {
  opacity: 50%;
  border: 1px rgb(224, 224, 224) solid;
  cursor: default;
}
