.container {
  padding: 0 10px;
  max-width: 1200px;
  margin: 0 auto;
}

html * {
  color: #1d1d1d;
  font-family: 'Roboto', sans-serif;
}
body {
  background: url('../image/abstrakt-9.jpg') no-repeat center / cover;
}
