%button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: 500;
  border-radius: 5px;
  border: 1px rgb(63, 59, 59) solid;
  transition: all 0.1s linear;
  background: #fff;
}

%rows {
  padding: 5px;
  box-shadow: var(--rows-shadow);
  border-radius: 5px;
  display: flex;
  align-items: center;
  width: 100%;
  color: white;
  background: var(--rows-background);
  transition: all 0.1s linear;
  &:not(:last-child) {
    margin-bottom: 16px;
  }
}
