:root {
  --background-color: rgb(255, 255, 255);
  --buttons-shadow: 0px 0px 0px 0px #ecececc9;
  --rows-background: rgba(66, 58, 58, 0.527);
  --rows-shadow: 0px 0px 4px 0px rgba(209, 209, 209, 0.637);
}
