:root {
  --background-color: rgb(231, 231, 231);
  --buttons-shadow: 0px 0px 0px 0px #ecececc9;
  --rows-background: rgba(166, 166, 166, 0.171);
  --rows-shadow: 0px 0px 4px 0px rgba(209, 209, 209, 0.637);
}
