//@use '../../style/index.scss';

.field {
  position: relative;
}

.buttons {
  position: absolute;
  width: 100%;
  top: -70px;
  border-radius: 5px;
  display: flex;
  gap: 10px;
  height: 38px;
  padding: 1px 2px;

  &__item {
    cursor: pointer;
    height: 90%;
    margin: auto 0;
    flex: 1 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 500;
    border: 1px rgb(237, 249, 253) solid;
    transition: all 0.1s linear;

    &.buttons__active .buttons__icon {
      fill: #000;
      stroke: #000;
    }
    &.buttons__active .buttons__button {
      color: #000;
    }
    &:hover {
      border: 1px rgb(237, 249, 253) solid;
      box-shadow: 0px 0px 10px 2px #ecececc9;
    }
    &.buttons__active:hover {
      box-shadow: none;
    }
  }

  &__icon {
    fill: white;
    stroke: white;
  }
  &__button {
    border: none;
    padding: 3px 10px;
    color: white;
  }
  &__active {
    background: rgb(255, 255, 255);
  }
}

.canvas {
  padding: 15px;
  width: 269px;
  height: 498px;
  border: 2px dashed #fdfdfd38;
  border-radius: 6px;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;

  &__inner {
    padding-top: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__icon {
    fill: white;
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
  }

  &__text-1 {
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 10px;
  }

  &__text-2 {
    color: rgb(255, 255, 255);
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    text-align: center;
  }
  &__droppable-1 {
    width: 100%;
    height: 60px;
    margin-bottom: 16px;
  }
  &__droppable-2 {
    width: 100%;
    height: 56px;
    margin-bottom: 16px;
  }
  &__droppable-3 {
    width: 100%;
    height: 241px;
    margin-bottom: 16px;
  }
  &__droppable-4 {
    width: 100%;
    height: 72px;
    margin-bottom: 16px;
  }
}

.drag-start {
  transition: all 0.1s linear;
  background-color: #f4f4f513;
}
